.whenplane_widget_hidden {
    display: none;
}

.whenplane_widget-ltttime {
    height: 33px;
    width: 75px;

    position: absolute;
    top: -1px;
    right: -2px;

    border: none;

    z-index: 100;
}

.whenplane_widget-relative {
    position: relative;
}

.whenplane_widget-showInfoBox {
    text-align: center !important;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 18px;
}
.whenplane_widget-showInfoBox > a {
    color: inherit;
}
.whenplane_widget-showInfoBox > a > div {
    background-color: rgb(21 23 31);
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 0.5rem 0.5rem 0.25rem;
    border: rgb(212, 22, 60) solid 1px;
    border-radius: 12px;

    display: inline-block;
    margin-left: auto;
    margin-right: auto;

    position: relative;
}
.whenplane_widget-showInfoFrame {
    width: 400px;
    height: 130px;
    overflow: hidden !important;
    border: none;
}

.whenplane_widget-fpLiveStatusBox {
    border: rgb(212, 22, 60) solid 1px;
    border-radius: 12px;
    height: 2.5rem;
    overflow: hidden;
    /*pointer-events: none;*/
}

.whenplane_widget-text-center {
    text-align: center;
}

iframe.whenplane_widget {
    background-color: rgb(21 23 31);
    width: 100%;
    height: 100%;

    border: none;
}